
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

html {
  //background-color: #FF499E;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  //background-color: #FF499E;
  //overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  //text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  position: relative;
  -webkit-text-stroke: 2px black;
  fontFamily: "Boorsok";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@font-face{
  font-family: "Boorsok";
  src:local("Boorsok-Regular"),
  url('/assets/fontsboorsok.otf') 
}

@font-face{
  font-family: "Gotham";
  src:local("Gotham-Regular"),
  url('/assets/fonts/GothamOffice.otf') 
}



